// Table of Contents

// See mark-down file for how to use compass' rhythm and trailer/leader functions or check the compass documentation
// -------------------------------------------------------------

// ::Imports pre-render
	//:: Reset
	//:: Settings
	//:: Mixins
// ::Clearfix extends
// ::Base styles

// ::Layout styles
// ::Media queries
// ::State styles
// ::Debugs



// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";



/* ::Clearfixs and extends. Use which suits best */
/* ----------------------------------------------------------- */

// CHOOSE YOUR CLEARFIX, OR YOU KNOW USE BOTH. WHATEVER, I'M NOT YOUR MOTHER

// Use clearfix if you need general clearfixing
.clearfix 			{ @include clearfix; }


// Use pie-clearfix if you need clearfixing that doesn't use overflow: hidden
.pie-clearfix 		{ @include pie-clearfix; }



// OTHER EXTENDS

// Max width, for images etc... in RWD
.max-width 			{ max-width: 100%; height: auto; }



/* ::Base styles Almost exclusively single element selectors */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
}

body {
	color: $base-color;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	color: $action;
	@include force-wrap;					// force text links to wrap
	&:hover, &:focus, &:active {
		color: $action-respond
	}
}

// Import base typography into the cascade (if required)
@import "libs/typography";


// Import form styles into the cascade (if required)
@import "libs/forms";



// -------------------------------------------------------------------------------------------------------

// All the below can be removed if need be

// -------------------------------------------------------------------------------------------------------

body {
	background:#1D1D1D;
}


section {
	width:100%;
	text-align:center;

	&#top {

		min-height:1146px;
		background:url('/assets/img/top-section.jpg') no-repeat top center;
		// background-size: 100% auto;
		// padding-bottom:200px;
	}


	.container {
		max-width:810px;

		&.secondary-container {
			margin-top:0px;

			.social-buttons {
				margin-top:7px;
			}
		}

		.logo-section {
			padding:35px;
			border:8px solid $primary;
			width:200px;
			margin:auto;
			margin-top:100px;
			font-family:$primaryfont;
			font-weight:200;
			font-size:48px;
			line-height:50px;
		}

		iframe {
				// margin-top:70px;
			}

			.welcome-bar {
				padding:10px 20px;
				color:$secondary;
				font-family:$primaryfont;
				background:$primary;
				font-size:30px;
				margin-top: 20px;

				span {
					font-weight:200;
				}

				&.secondary {
					color:$primary;
					background:$tertiary;
					margin-top: 30px;

					&:hover {
						background:$primary;

						a {
							color:$secondary;
						}
					}

					a {
						color:$primary;
						text-decoration: none;
					}

					span {
						font-weight:200;
					}
				}
			}
		}

		&#secondary-section {
			background:url('/assets/img/secondary-section.jpg') no-repeat top center;
			min-height:1279px;
		}

		&#connect {
			background-color:$fourth;
			height:626px;

			.container {
				max-width:810px;
			}

			.social {
				background:url('/assets/img/connect-bg.png') no-repeat top center;
				padding-top:15px;
				width:690px;
				list-style:none;
				font-family:$primaryfont;
				color:$primary;
				font-size:37px;
				margin:auto;
				margin-top: 256px;
				font-weight:200;
				height:88px;

				li {
					float:left;
					margin-left: 30px;

					a {
						text-decoration:none;

						&:hover {
							color:#828282;
						}
					}
				}
			}
		}

		&#dutch {
			background:url('/assets/img/dutch-bg.jpg') no-repeat top center;
			min-height: 625px;

			.logo-section {
				padding:65px 35px;
				border:8px solid $primary;
			// width:200px;
			display:inline-block;
			width:auto;
			margin:auto;
			margin-top:200px;
			font-family:$primaryfont;
			font-weight:200;
			font-size:48px;
			line-height:50px;
		}
	}

	&#dutch-1 {
		background:url('/assets/img/dutch-1.jpg') no-repeat top center;
		min-height:640px;
	}	

	&#dutch-2 {
		background:url('/assets/img/dutch-2.jpg') no-repeat top center;
		min-height:634px;
	}	

	&#dutch-3 {
		background:url('/assets/img/dutch-3.jpg') no-repeat top center;
		min-height:440px;
	}
}

footer {
	position:relative;
	background:$primary;

	.container {
		max-width:700px;
	}

	.top {
		padding:15px 20px;
		// height:20px;
		// display:inline-block;
		color:$secondary;
		text-decoration:none;
		font-family:$primaryfont;
		font-weight:200;
		position:absolute;
		top:-60px;
		background:$primary;
		font-size:27px;
		// line-height:27px;
		text-align:center;
		cursor:pointer;
		left:50%;
		margin-left:-51px;
	}

	.information {
		float:left;
		width:50%;
		border-right:1px solid #c3a218;
		padding-top:200px;
		padding-bottom:200px;

		span {
			font-family:$primaryfont;
			color:$secondary;
			font-size:18px;
			font-weight:200;
			text-transform: uppercase;
			line-height:20px;
			display:block;
			clear:both;
			margin-bottom:20px;

			strong {
				font-weight:400;

				a {
					color:$secondary;
					text-decoration:none;
					font-weight:400;
				}
			}
		}
	}

	.read-reviews {
		float:left;
		width:50%;
		padding-top:180px;
		padding-bottom:200px;
		padding-left:100px;

		span {
			font-family:$primaryfont;
			color:$secondary;
			font-size:18px;
			font-weight:200;
			text-transform: uppercase;
			line-height:20px;
			display:block;
			clear:both;
			margin-bottom:20px;
		}

		a {
			display:block;
			width:156px;
			display:block;
			margin-bottom:15px;



			&.linkuptv {
				height:25px;
				background:url('/assets/img/review-logos.jpg') no-repeat;

				&:hover {
					background-position: -156px 0;
				}
			}

			&.rwd {
				height:35px;
				background:url('/assets/img/review-logos.jpg') no-repeat 0 -44px;

				&:hover {
					background-position: -156px -44px;
				}
			}			

			&.mtv {
				height:93px;
				background:url('/assets/img/review-logos.jpg') no-repeat 0 -100px;

				&:hover {
					background-position: -156px -100px;
				}
			}			

			&.sbtv {
				height:64px;
				background:url('/assets/img/review-logos.jpg') no-repeat 0 -212px;

				&:hover {
					background-position: -156px -212px;
				}
			}
		}
	}
}

nav {
	position:fixed;
	right:40px;
	top:50%;
	margin-top: -50px;

	ul {
		li {
			list-style:none;
			margin-bottom: 10px;
			a {
				border-radius:50%;
				width:10px;
				height:10px;
				display:block;
				background:#ccc;
			}

			&.active {
				a {
					background:$primary;
				}
			}
		}
	}
}

.social-buttons {
	float:left;
	margin-top: 70px;
	margin-bottom: 15px;

	.twitter {
		float:left;
		margin-top: 0;
		width:90px;

		iframe {

		}
	}

	.facebook {
		float:left;
	}
}



/* ::Layout styles - Layouts hold one or more modules together. */
/* ------------------------------------------------------------ */

.container {
	@extend .clearfix;
	margin: 0 auto;
	width: 95%;
}

/* Example styles - you'll most likey want to remove*/
header {
	@include padding-leader(4);
	@include padding-trailer(2);
	@include trailer(6);
	background: #333;
	h1 { color: #fff; }
}

section 				{ @extend .clearfix; }
h1 						{ font-weight: 600; }
ol 						{ @include ordered-inside }
ul 						{ @include unordered-inside }



/* ::Media queries */
/* ------------------------------------------------------------ */

// If using gridset or another pre-defined grid, these should match up to the same breakpoints

// Below examples use a mobile-first approach


// Eg for 480px
@media screen and (min-width: em-font(480px)) {
	.container {
		width: 95%;
	}
}


// Eg for 800px
@media screen and (min-width: em-font(800px)) {
	.container {
		min-width: em-font(780px);
	}
}

// Eg for 1240px
@media screen and (min-width: em-font(1240px)) {
	.container {
		max-width: em-font(1080px);
	}
}

// Print styles
@media print {
	body {
		// Smaller type for printing. Save a tree
		font-size: percentage(10 / 16);
		@include adjust-leading-to(2);
	}
}


// IOS specifics
@media screen and (max-width: 769px) {  // Absolute measure here, as we're talking about devices, not screen size
	body {
		-webkit-text-size-adjust:none; 			// Stop iPhone/iPad from scaling text
	}
}


/* ::State styles */
/* ------------------------------------------------------------ */

.is-hidden {
	display: none;
}

.is-shown, .is-block {
	display: block;
}

.is-uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.is-lowercase {
	text-transform: lowercase;
}



/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;

	// Use this one if you ARE using a global border-box setting
	height: $base-line-height;

    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}
